normalize.css
body{
    background-color: #272727 ;
    
}
.logosize {
    width:110px;
    height: 91.438px;
    margin-left: 5px;
}
.robloxlogo{
    display: flexbox;
    width:110%; 
    margin-top: 2%; 
    margin-left: 2px;
}
.mainbg {
    position:fixed;
}
.robloxlogo{
    margin-bottom: 45px;
}

#buttonsbar {
    background-color:#000000c0;
    display:flexbox;   
    margin-top: 40px;
}
#buttons li{
    display: inline;
}
.button{
    font-size: 20px;
    margin-left: 8%;
    font-weight:bold;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.87);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.781);
    border-color: darkgray;
    border-radius: 8px;
    border:2px solid;
    text-decoration: none;
    margin-right:8%;
}
.robloxtext{
    margin-top: -270px;
    margin-left: 30%;
    padding-left: 30px;
    width:600%;
}
.button:hover{
    background-color: aliceblue;
    transition: 0.5s;
    color: #272727;
}
.mainbody {
    background-image: url("../pictures/roblox main bg.jpeg");
    background-blend-mode:difference;  
    margin-left: 0%;
    margin-right: 0%;
}
.infobody1{
    background-color:rgba(0, 0, 0, 0.3);
    width:40%;
    margin-left: 6%;
    margin-right: 0%;
    max-width: 40%;
    justify-content:center;
    display: inline-block;
}
.robloxabout{
    width: 100%;
    flex-basis: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.abouttext{
    font-size: 150%;
    width:40%;
    color: aliceblue;
    display: inline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.robloxstudio{
    width:100%;
    flex-basis: 80%;
    margin-top: 0px;
    margin-bottom:5px;

}
.studioinfo{
    background-color:rgba(0, 0, 0, 0.3);
    width:40%;
    margin-left: 6%;
    margin-right: 0px;
    max-width: 40%;
    justify-content:center;
}
.studiotext{
    font-size: 150%;
    width:40%;
    color: aliceblue;
    display: inline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.a:visited{
    color: aqua;
} 
.content{
    margin-bottom:5px;
}
.robuxlogo{
    width:30%;
    display:inline;
}
.robloxvid{
    margin-left: 100%;
    margin-top: -80%;
    vertical-align:middle
}
.director{
    margin-left: 100%;
    margin-top: -70%;
    display:absolute;
    font-size:50px ;
    background-color: #ff0000;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-left: 50%;
    padding-right: 80%;
}
.davidd{
    display:inline;
    margin-left: 165%;
    width:45%;
}
.davidname{
    margin-left: 165%;
    width: 50%;
    font-size: 28px;
}

.erikname{
    margin-left: 100%;
    width: 50%;
    font-size: 28px;
    position: relative;
    margin-top: -10%;
}
.erik{
    display:absolute;
    margin-left: 100%;
    width:45%;
    margin-bottom: 10%;
    margin-top: -100%;
}
.aboutus{
    font-size: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    color: rgb(209, 209, 209);
    margin-left: 37%;
    background-color: aliceblue rgba(240, 248, 255, 0.473);
}
.mainbody1 {
    background-image: url("../pictures/robloxbggg.jpg");
    background-blend-mode:difference;  
    margin-left: 0%;
    margin-right: 0%;
    background-color: #00000004;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.horror1{
    width: 25%;
}
.horror{
    display: flex;
    align-content: center;
    margin-left: 5%;
    margin-right:5%;
}
.horror1txt{
   font-size: 40px;
   background-color: rgba(0, 0, 0, 0.747);
   margin:0;
   color: rgb(255, 19, 19);
   font-family:monospace;
}
.hh{
    font-size: 45px;
    margin:0;
    background-color: rgba(240, 248, 255, 0.527);
    font-family: Arial, Helvetica, sans-serif;
}
.redr{
    color: #ff0000;
    font-weight: bolder;
}
.titleh{
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin: 0%;
    font-family: monospace;
    margin-left: 5%;
    background-color: rgb(59, 56, 56);
}
.horrorgame1{
    max-width:100%;
    margin-left: 5.5%;
    width:80%;
}
#buttons{
    margin:0;
}
.titler{
    color: rgb(255, 85, 232);
    font-size: 50px;
    margin: 0%;
    font-family: monospace;
    margin-left: 5%;
    background-color: blueviolet;
}
.rpgtxt{
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.747);
    margin:0;
    color: rgb(216, 19, 255);
    font-family: cursive;
 }
 .titlef{
    color: rgb(146, 146, 146);
    font-size: 50px;
    margin: 0%;
    font-family: monospace;
    margin-left: 5%;
    background-color: rgb(58, 41, 11);
}
.fpstxt{
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.747);
    margin:0;
    color: rgb(109, 109, 109);
    font-family: Arial, Helvetica, sans-serif;
 }
 .mainbody2 {
    background-image: url("../pictures/robloxsecbg1.jpg");
    background-blend-mode:difference;  
    margin-left: 0%;
    margin-right: 0%;
    background-color: #00000004;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logintitle{
    color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    font-size: 40px;
}
.mainform{
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 30px;
    color: aliceblue;
}
.loginbg{
    background-color: rgba(0, 0, 0, 0.774);
    margin-left: 35%;
    margin-right: 35%;
}
input[type=text] {
    width: 70%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    display: flex;
  }
#submit{
    height:40px;
    width: 100px;
    margin-bottom: 10%;
    background: none;
    border:2px solid;
    border-color: #ff0000;
    color: azure;
    margin-left: 50%;
    font-size: 20px;
    border-radius: 10%;
}
#submit:hover{
    cursor: pointer;
    background-color: azure;
    color: #ff0000;
    transition: 0.35s;
}
#username{
    margin: 0;
    border-color: #ff0000;
    margin-top: -2px;
}
#password{
    margin: 0%;
    border-color: #ff0000;
    height:30px;
    display: flex;
    margin-top: -2px;
}
.fpass{
    color: maroon;
    margin-top: -20%;
    font-size: 20px;
}
.or{
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}
.mainbody3 {
    background-image: url("../pictures/supportbg1.png");
    background-blend-mode:difference;  
    margin-left: 0%;
    margin-right: 0%;
    background-color: #00000038;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.supporttitle{
    color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botbut{
    margin-left: 8%;
    font-size: 25px;
}
.supportbg{
    background-color: rgba(0, 0, 0, 0.774);
}
.aboutt{
    font-size: 40px;
    color: rgb(184, 0, 9);
    font-family: cursive;
    font-weight: bold;
}
.emaill{
    font-size: 40px;
    color: rgb(184, 0, 9);
    font-family: cursive;
    font-weight: bold;
}