.robloxbg {
    min-height: 100%;
    width: 100%;
    height: auto;
    position: relative;
}

@media screen and (max-width: 1024px) { 
    .robloxbg {
    left: 50%;
    margin-left: -512px; 
        }
}

body{
    background-color: #272727 ;
}
.robloxlogo{
    width:100px;   
    margin-left: 10px;  
    margin-top: 0px;
    display:inline-block
}